@model IEnumerable<Testimonial>

@using Microsoft.AspNetCore.Http

@{
    var roleId = Context.Session.GetInt32("RoleId");


}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Testimonial requests </h4>
                        <p class="category">You will receive testimonial requests from users and chefs</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>Text</th>
                                <th>Status</th>
                                <th>User</th>
\                           </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    @if (item.TestimonialStatus != "Accepted" && item.TestimonialStatus != "Rejected")
                                    {
                                        <tr>
                                            <td>@item.TestimonialText</td>
                                            <td>
                                                @if (roleId == 1)
                                                {


                                                    <form asp-controller="Admin" asp-action="TestimonialStatus" method="post">
                                                        <input type="hidden" name="id" value="@item.TestimonialId" />
                                                        <input type="hidden" name="status" value="Accepted" />
                                                        <button type="submit">Accept</button>
                                                    </form>
                                                    <form asp-controller="Admin" asp-action="TestimonialStatus" method="post">
                                                        <input type="hidden" name="id" value="@item.TestimonialId" />
                                                        <input type="hidden" name="status" value="Rejected" />
                                                        <button type="submit">Reject</button>
                                                    </form>

                                                }
                                                else
                                                {
                                                    @item.TestimonialStatus
                                                }
                                            </td>
                                            <td>@item.UserId</td>
                                        
                                        </tr>
                                    }

                                }


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>