@model IEnumerable<Food.Models.JoinUsers>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Number of users</p>
                                    @ViewBag.NumberOfUsers
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Number of chefs</p>
                                    @ViewBag.NumberOfChefs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Number of recipe</p>
                                    @ViewBag.NumberOfRecipe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-twitter-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Purchases</p>
                                    @ViewBag.NumberOfPurchases
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <th>Full name</th>
                                <th>User name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>#</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.UserLogin.RoleId == 2 || item.UserLogin.RoleId == 3)
                                    {
                                        <tr>
                                            <td>@item.User.FName @item.User.LName</td>
                                            <td>@item.UserLogin.Username</td>
                                            <td>@item.User.Email</td>
                                            <td>@item.UserLogin.RoleId</td>
                                            <td>@item.UserLogin.RoleId</td>
                                        </tr>
                                    }
                                }
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Users Behavior</h4>
                        <p class="category">24 Hours performance</p>
                    </div>
                    <div class="content">
                        <canvas id="myChart"></canvas>
                        <div class="chart">
                            <canvas id="myChart"></canvas>
                        </div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Click
                                <i class="fa fa-circle text-warning"></i> Click Second Time
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Email Statistics</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Bounce
                                <i class="fa fa-circle text-warning"></i> Unsubscribe
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> Campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">2015 Sales</h4>
                        <p class="category">All products including Taxes</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart"></div>

                        <div class="footer">
                            
                            <hr>
                            <div class="stats">
                                <i class="ti-check"></i> Data information certified
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var Recipes = {
        label: 'Recipe',
        data: @Html.Raw(Json.Serialize(ViewBag.NumberOfRecipe)),
        backgroundColor: "rgb(255,99,132)",
        borderWidth: 0,
        lineTension: 0,
    };
    var Sales = {
        label: 'Sales',
        data: @Html.Raw(Json.Serialize(ViewBag.NumberOfPurchases)),
        backgroundColor: "rgb(255,99,100)",
        borderWidth: 0,
        lineTension: 0,
    };
    var dataSetValues = {
        labels: ["Recipe1", "Sales1"],
        datasets: [Recipes, Sales]
    };
    var chartOptions = {
        scales: {
            xAxes: [{
                barPercentage: 1,
                categoryPercentage: 0.6,
            }],
            yAxes: [{
                barPercentage:1,
                categoryPercentage: 0,6,
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };
    var myChart = new Chart(ctx, {
        type: 'bar', // or 'line', 'pie', etc.
        data: dataSetValues,
        options: chartOptions
        
    });
</script>