@model Tuple<List<Food.Models.Category>, IEnumerable<Food.Models.JoinUsers>, List<Food.Models.Testimonial>>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="slider-wrap">
    <section class="home-slider owl-carousel">


        <div class="slider-item" style="background-image: url('/Home/img/hero_1.jpg');">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">
                        <h1 data-aos="fade-up">Enjoy Your Food at Foody</h1>
                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Handcrafted with love by <a href="https://free-template.co" target="_blank">Free-Template.co</a></p>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Get Started</a></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="slider-item" style="background-image: url('/Home/img/hero_2.jpg');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">
                        <h1 data-aos="fade-up">Delecious Food</h1>
                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Handcrafted with love by <a href="https://free-template.co" target="_blank">Free-Template.co</a></p>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Get Started</a></p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- END slider -->
</div>



<section class="section bg-light py-5  bottom-slant-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>categories</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
                @foreach (var item in Model.Item1)
                {
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a asp-controller="Home" asp-action="CategoryRecipes" asp-route-id="@item.Id"><img src=@Url.Content("~/Images/" + item.ImagePath) alt="Image Placeholder" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">@item.CategoryName</h3>
                            </div>
                        </div>
                    </div>
                }



            </div>
            <!-- END slider -->
        </div>
    </div>
</section>


<section class="section pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade">
            <div class="col-md-7 text-center heading-wrap">
                <h2 data-aos="fade-up">Chefs</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="major-caousel js-carousel-1 owl-carousel">
                    
                   
                    @foreach (var item in Model.Item2)
                    {
                        @if (item.UserLogin.RoleId == 2)
                        {
                            <a asp-controller="Home" asp-action="ChefRecipes" asp-route-id="@item.User.UserId">
                                <div>
                                    <div class="media d-block media-custom text-center">
                                        <img src=@Url.Content("~/Images/" + item.User.ImagePath) alt="Image Placeholder"  width="238px" height="238px">
                                        <div class="media-body">
                                            <h3 class="mt-0 text-black">@item.UserLogin.Username</h3>
                                            <p class="lead">@item.User.FName @item.User.LName</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        }
                    }
                    


                </div>
                <!-- END slider -->
            </div>
        </div>
    </div>
</section>


<section class="section bg-light  top-slant-white2 bottom-slant-gray">


    <div class="clearfix ">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Testimonial</h2>
                    <!-- <span class="back-text">Testimonial</span> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="owl-carousel centernonloop2">
                    @foreach (var item in Model.Item3)
                    {
                        @if (item.TestimonialStatus == "Accepted")
                        {
                            <div class="slide" data-aos="fade-left" data-aos-delay="100">
                                <blockquote class="testimonial">
                                    <p>&ldquo; @item.TestimonialText. &rdquo;</p>
                                    <div class="d-flex author">
                                        <img src=@Url.Content("~/Images/" + item.User.ImagePath) alt="" class="mr-4">
                                        <div class="author-info">
                                            <h4>@item.User.FName @item.User.LName</h4>
                                            @*<p>CEO, XYZ Company</p>*@
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        }
                    }


                </div>
            </div>
        </div>




    </div>
</section> <!-- .section -->




